<header>
	<img src="{{ asset ('img/logo.png')}}" alt="logo-site">
	<nav id="menu">
		<a class="home" href="{{path('home')}}">Accueil</a>
		<a class="about" href="{{path('a-propos')}}">À-propos</a>
		<a class="contact" href="{{path('contact')}}">Contact</a>
	</nav>
</header>
