{% extends 'base.html.twig' %}

{% block title %}Un temps hors du temps...
{% endblock %}
{% block bodyClass %}
		class="homepage"
{% endblock %}
{% block stylesheets %}
	<style>	
	
	
		
	</style>
{% endblock %}
{% block body %}


	<div class="example-wrapper">
		<h1 class="wrapper">Un temps hors du temps...</h1>

	</div>

{{include('app/_footer.html.twig')}}
{% endblock %}
