{% extends 'base.html.twig' %}

{% block title %}
	A propos -{{ parent() }}
{% endblock %}

{% block body %}
		<h1 class= 'titre'>A propos</h1>
	<div class='propos'>
		<img id='portrait' src="{{ asset ('img/portrait.png')}}" alt="portrait">
			<div class='texte'>
				<h3 >Bonjour,</h3>
					<p>Je m’appelle Emmanuelle,<br/><br/>
						Après 20 ans d’exercice dans la profession d’infirmière et suite à un accident de la vie, j’ai progressivement été amenée, par les jolis hasards de la vie, à ressentir de
													à faire des rencontres. Au cours de ma recherche je me suis formée au Reiki, puis à la géobiologie, à l’hypnose, à la PNL et en parallèle
													j’ai réalisé que la recherche, dans laquelle je m'étais engagée, n’était autre que la recherche de qui j’étais… Des tâtonnements, des rencontres 
													de belles personnes dans de nombreux domaines des soins complémentaires et de la spiritualité m’ont permis de découvrir différentes facettes 
													de moi que j’ignorais plus ou moins consciemment. Si le soin de toutes les formes de vie est et a toujours été une évidence, 
													il m’était devenu presque impossible d’aider les autres. C’est cette impossibilité qui m’a mise sur le chemin pour accepter mes capacités de médiumnités. 
													Ce chemin a lui été plus long et éprouvant et nécessité de regarder mes peurs et mes parts d’ombre. 
													Je suis heureuse, aujourd’hui, de pouvoir trouver la possibilité d’accompagner des personnes, des animaux dans leur recherche de mieux être dans 
													leur quotidien ainsi que dans leurs lieux de vie.</p>
	</div>
			</div>
	<style>



	.menu-footer{
		position:relative;
		top:auto;
	}





	</style>
{% endblock %}
