{% extends 'base.html.twig' %}

{% block title %}
	A propos -{{ parent() }}
{% endblock %}

{% block body %}
		<h1 class= 'titre'>A propos</h1>
	<div class='propos'>
		<img id='portrait' src="{{ asset ('img/photo-emmanuelle.png')}}" alt="portrait">
			<div class='texte'>
				<h3 >Bonjour,</h3>
					<p>Je m’appelle Emmanuelle,<br/><br/>
					Pendant mes 20 ans d'exercice professionnel en tant qu'infirmière, j'ai, progressivement, développé des ressentis étranges. 
					Des difficultés personnelles m’ont permis d’en prendre conscience et de débuter des recherches pour comprendre ce qui se passait. 
					Au cours de ma recherche, je me suis formée au Reiki (soins énergétiques japonais), à la géobiologie, à l'hypnose et à la PNL.
					Au fur et à mesure de ces apprentissages, je me suis rendue compte que ce que je cherchais c'était, en fait, qui « Je Suis ». 
					Les rencontres de personnes bienveillantes notamment lors des formations et des stages de développement personnel, des soins 
					complémentaires associés à la rencontre de la spiritualité m’ont permis de me découvrir. Si soigner a toujours été une évidence, 
					je n'arrivais plus à trouver les ressources pour aider les autres. C'est cette impossibilité qui m'a permis d'accepter mes ressentis.
					Faire face à mes peurs et mes parts d'ombre ont rendu le chemin long et éprouvant  mais c’est grâce à cela qu’aujourd’hui, je suis heureuse 
					de pouvoir vous accompagner, ainsi que les animaux, dans votre recherche du mieux-être dans votre quotidien ainsi que dans vos lieux de vie. 
					Alors, contactez-moi pour que nous puissions commencer un bout de chemin ensemble.</p>
					
					
					
					
					
					
					
					
	</div>
			</div>
	<style>



	.menu-footer{
		position:relative;
		top:auto;
	}





	</style>
{% endblock %}
