{% extends 'base.html.twig' %}

{% block title %}Les prestations
{% endblock %}

{% block body %}

	<h1 class="titre-soin">Voici les différentes prestations proposées:</h1>


	{% for soin in soins %}
	<div class="soin">
	<div class="soin-nom">
		<h4 class ="nom">{{soin.nom}}</h4>
		<div class="description">{{soin.description}}</div>
	</div>
	<div class="soin-prix">
		<div class="tarif">{{soin.tarif}}
			€</div>
		<a class="btnreservation" href="{{path('connexion')}}">réservation</a>
	</div>
	</div>
{% endfor %}
		{% block javascripts %}

{% endblock %}
			<style>
			body{
				position:relative;
			}
			</style>
		
	
{% endblock %}
