{% extends 'base.html.twig' %}

{% block title %}Les prestations
{% endblock %}

{% block body %}

	Voici les différentes prestations proposées:

	{% for soin in soins %}

		<h3>{{soin.nom}}</h3>
		<div>{{soin.description}}</div>
		<div>{{soin.tarif}}
			€</div>
		<input id="btnRegister" type="button" value="Réservation"/>
	{% endfor %}
	{% block javascripts %}
		<script>
			document.getElementById("btnRegister").onclick = function () {
location.href ="{{ path('connexion') }}"
}
		</script>
	{% endblock %}
{% endblock %}
