{% extends 'base.html.twig' %}

{% block title %}Contactez-moi
{% endblock %}

{% block body %}

	<h1>Contactez-moi
	</h1>
	<style></style>
	{{form(form)}}


		<a class="contact" href="{{path('app_register')}}">Inscription</a>
	{% endblock %}
