{% extends 'base.html.twig' %}
{% block title %}mail reçu !
{% endblock %}

{% block body %}

<p>Votre message a bien été reçu ! 
Je prendrai contact avec vous le plus rapidement possible
a bientôt </p>
{% endblock %}
